/* Universal */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mulish-font {
  font-family: "Mulish", sans-serif;
}

body{
    max-width: 1178px;
    margin: 0 auto;
}
/* shared style */
.btn{
    display: block;
    padding: 14px 22px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #FF5400;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
/* main styles */
nav > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:50px 0;
}
nav > div div {
    display: flex;
    align-items: center;
    gap: 16px;
}
nav > div div h1{
    font-weight: 800;
    color: #FF5400;
}
nav > div div h1 :nth-child(1) {
    color: black;
}
nav > div > ul {
    display: flex;
    gap: 44px;
}
nav > div > ul li{
    list-style: none;
}

nav > div > ul li a{
    text-decoration: none;
    color: #424247;
    font-weight: 700;
}
nav > div > ul :nth-child(1) a {
    color: #FF5400;
}
.banner {
    color: #FFFFFF;
    background-image:linear-gradient(180deg,rgba(0, 0, 0, 0.678) , rgba(255, 255, 255, 0.274)),url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    min-height: 500px;
    background-repeat: no-repeat;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner > div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 48px;
}
.banner > div h1 {
    font-weight:800;
    font-size: 64px;
}
.banner > div p {
    font-size: 16px;
    line-height: 26px;
    max-width: 676px;
    text-align: center;
}
.banner form {
    display: flex;
    background-color: #ffffff73;
    padding: 16px;
    gap: 24px;
    border-radius: 8px;
    justify-content: space-between;
    width: 100%;
}
.banner select, .banner input[type="text"]{
    border-radius: 8px;
    border: none;
    color: #1313187c;
    /* display: block; */
    width: 174px;
    padding-left: 16px;
    /* padding-right: 16px; */
    padding-top: 16px;
    padding-bottom: 16px;
}
.popular {
    display: flex;
    justify-content: space-between;
    gap: 53px;
    margin: 100px 0;
}
.popular > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}
.popular > div > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}
.popular > div > div ul{
    color: rgba(19, 19, 24, 0.7);
}
.popular > div > div ul li{
    margin-left: 20px;/* to match the figma */
    margin-top: 10px;
    line-height: 26px;
}
.popular > div > div ul li :nth-child(1){
    margin-left: 20px;
    /* margin-top: 10px; */
}
.popular > div > div p {
    color: rgba(19, 19, 24, 0.7);
    line-height: 26px;
}
.popular > div > div h2{
    font-weight: 800;
    font-size: 40px;
    color: #131318;
}
.popular > div button , .btnc {
    width: fit-content;
    font-weight: 800;
    font-size: 20px;
    padding: 14px 34px;
}
.popular > div button , .btnc  {
    display: inline-block;
}

.popular > div button:hover , .btnc:hover {
    animation: readmore 2s ease-in-out infinite;
}

@keyframes readmore {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
        /* transform: scale(1.15) translateX(10px); */
        box-shadow: 4px 4px 20px #FF5400;
        /* background-color: white;
        color: #FF5400;
        border: 1px solid #FF5400; */
    }
    100% {
        transform: scale(1);
    }
}
/* Destination section */
.destination{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:48px;
}
.destination .c{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:24px;
    text-align: center;
    margin: 0 auto;
}
.destination .c h2{
    font-size: 40px;
    font-weight: 800;
    color: #131318;
}
.destination .c p{
    line-height: 26px;
    color: rgba(19, 19, 24, 0.7);
    max-width: 643px;
}
.destination .g{
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(12,1fr);
}

.destination .g :nth-child(1),
.destination .g :nth-child(2) {
  grid-column: span 6;
}

.destination .g :nth-child(3) {
  grid-column: span 4;
}

.destination .g :nth-child(4) {
  grid-column: span 5;
}

.destination .g :nth-child(5) {
  grid-column: span 3;
}

.destination .g :nth-child(6) {
  grid-column: span 5;
}

.destination .g :nth-child(7) {
  grid-column: span 7;
}
.destination .g div {
    position: relative;
}
.destination .g div img{
    width: 100%;
    height: 300px;
}
.destination .g div h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #FFFFFF;
}
/* why Choose Us section */
.why , .deals{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 48px;
    margin: 100px 0;
}
.why .card-title , .deals .deals-heading{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    text-align: center;
    margin: 0 auto;
}
.why .card-title h2, .deals .deals-heading h2{
    font-size: 40px;
    font-weight: 800;
    color: #131318;
}
.why .card-title p .deals .deals-heading p{
    line-height: 26px;
    color: rgba(19, 19, 24, 0.7);
    max-width: 643px;
}
.why .card {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.why .card div{
    padding: 32px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    flex-direction: column;
    border-radius: 16px;
}
.why .card div h4{
    font-size: 24px ;
    color: #131318;
    font-weight: 800;
}
.why .card div p {
    line-height: 26px;
    color: #5A5A5D;
}
.why .card div img{
    max-width: 64px;
}
.why .card > :nth-child(1){
    background-color: rgba(251, 180, 99, 0.2);
    grid-column: span(1);
}
.why .card > :nth-child(2){
    background-color: rgba(41, 206, 246, 0.2);
    grid-column: span(1);
}
.why .card > :nth-child(3){
    background-color: rgba(233, 68, 68, 0.2);
    grid-column: 1/-1;
    justify-self: center;
    max-width: 573px;
}
/* Deals section */
.deals {
    margin: 0;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    align-items: center;
}
.deals .deal-cont{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    /* align-items: center; */
    min-width: 1178px;
}
 .deals .deal-cont > div {
    display: flex;
    /* flex-direction: column; */
    gap: 16px;
    background-image: url("../Images/Group\ 39.png");
    background-repeat: no-repeat;
    border-radius: 16px;
    padding: 56px;
    justify-content: end;
 }
 .deals .deal-cont > div div{
    padding: 56px;
    background-color: rgba(255, 255, 255, 0.623);
    max-width: 580px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
 }
.deals .deal-cont > div div ul li{
    list-style: none;
    display: inline-block;
    margin-right: 24px;
}
.deals .deal-cont > div div h4{
    font-weight: 800;
    font-size: 24px;
    color: #131318;
}
.deals .deal-cont > div div p{
    line-height: 26px;
    color: #5A5A5D;
    max-width: 452px;
}
.deals .deal-cont > div div h5{
    color: #FF5400;
    font-weight: 800;
    font-size: 20px;
}
.deals .deal-cont > :nth-child(2){
    background-image: url("../Images/Group\ 40.png");
    justify-content: start;
}
.perfect > div > div > ul li{
    color: #131318;
    font-weight: 700;
}
.perfect .video video{
    width: 610px;
    height: 424px;
     border-radius: 16px;
    object-fit: cover;
   
}
.perfect .video {
    position: relative;
    overflow: hidden;
     border-radius: 16px;
}
.perfect .video h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
}